html,
body {
  box-sizing: border-box;
  height: 100%;
}

.container {
  max-width: 1094px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 24px;
  padding-bottom: 52.39px;
  max-height: 576px;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1rem;
  background: url(/src/assets/images/header__background.png);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__button {
  margin-left: 16px;
  border: 1px solid #e6e6e6;
  display: block;
  background: #fafafa;
  height: 3rem;
  padding: 0px 24px;
  font-family: 'Manrope', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.3125rem;
  border-radius: 200px;
}

.header__button_color {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.195rem;
  text-align: left;
  color: #c5fff0;
  padding-bottom: 3px;
}

.header__button_color > svg {
  padding-right: 9px;
  position: relative;
  left: 9px;
  top: 5px;
}

.header__main {
  display: flex;
  flex-direction: row;
  gap: 94px;
}

.header__content {
  display: flex;
  flex-direction: column;
  padding-top: 115px;
  font-weight: 400;
}

.header__content-title {
  width: 33.375rem;
  height: 9rem;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #333333;
}

.header__content-title-yellow {
  color: #e9b800;
}

.header__content-text {
  padding-top: 16px;
  padding-bottom: 36px;
  color: #9d9d9d;
}

.header__font-style {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1rem;
  text-align: center;
}

.header__content-button {
  max-width: 300px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #f4f4f4;
  color: #3b3636;
  background-color: #ffffff;
  padding: 17px 32px;
  box-shadow: 3px 3px 5px rgb(184, 184, 184);
}

.header__picture > img {
  height: 380.61px;
  width: 380.61px;
  padding-top: 71px;
}

.header__button-mobile {
  display: none;
}
