main {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 153px;
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3662rem;
}

.table {
  width: 747px;
  height: 504px;
  padding: 40px 32px 40px 32px;
  border-radius: 16px;
  border: 1px solid rgba(230, 230, 230, 1);
}

.table__main-bin {
  display: flex;
  flex-direction: column;
}

.table__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.table__item {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  opacity: 50%;
  padding-bottom: 13px;
}

.table__coin-bin {
  display: flex;
  gap: 8px;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.875rem;
  padding-bottom: 14px;
}

.table__coin-bnb {
  display: none;
}

.table__revenue {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.75rem;
  line-height: 1.125rem;
  opacity: 50%;
}

.table__main-market > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26.4375rem;
  height: 3rem;
  padding: 0px 16px;
  border-bottom: 1px solid #e6e6e6;
}

.table__indexes {
  flex-direction: column;
}

.table__indexes > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid #e6e6e6;
  color: #333333;
}

div.table__indexes-menu {
  padding: 24px 16px;
  font-size: 0.875rem;
  line-height: 1.195rem;
  color: #00000080;
  border-bottom: 1px solid #e6e6e6;
}

.table__indexes > div > * {
  display: flex;
  text-align: left;
  flex: 1;
  align-items: center;
}

.table__activeStatus {
  background-color: #87ffdf;
  color: #24a483;
  padding: 10px;
  border-radius: 8px;
  font-weight: 700;
}

.table__inactiveStatus {
  background-color: #ffdddb;
  color: #fd2517;
  border-radius: 8px;
  padding: 10px;
  font-weight: 700;
}

.table__indexes-mobile {
  display: none;
}

@media (min-width: 1200.1px) {
  html {
    font-size: 1.0582vw;
  }

  .container {
    max-width: calc(68vw + 0.916rem * 2);
  }
}

@media (max-width: 1200.1px) {
  html {
    font-size: 1.2vw;
  }

  .container {
    max-width: 90vw;
  }
}

@media (max-width: 768.1px) {
  html {
    font-size: 1.5vw;
  }

  .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 640.1px) {
  html {
    font-size: 3vw;
  }

  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (max-width: 380.1px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
